@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 68rem;
}

.section-title {
  margin: 0.5rem 0;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  margin: 0.5rem 0;
}

/* Input Field Stylings */
input,
textarea {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
}

input[type="number"] {
  width: 4rem;
}

/* Button styling */
.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  background: rgba(163, 237, 247, 0.3);
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  background: rgba(163, 237, 247, 0.7);
  font-weight: bold;
}

/* Delete/Trash Button */
.trash {
  cursor: pointer;
  align-self: center;
}

.trash:hover {
  color: red;
}

/* First row */
.row-1 {
  gap: 0.5rem;
}

.contact-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem 0;
}

/* Profile Related */
.profile-img {
  cursor: pointer;
  width: max-content;
  align-self: center;
}

.profile-img img {
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  justify-content: center;
}

/* Minor Labels */
.name label,
.title label {
  font-weight: bold;
  font-size: 1.15rem;
}

.name input,
.title input {
  margin: 0.25rem 0;
}

.contact-info {
  justify-content: center;
}

.contactInput {
  display: flex;
  gap: 0.5rem;
  margin: 0.25rem;
}

@media (min-width: 650px) {
  .row-1 {
    flex-direction: row;
  }

  .user-info {
    flex: 1;
  }
}

/* Row 2*/
.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skill,
.skill .rating {
  display: flex;
  align-items: center;
}

.skill > *,
.skill .rating > * {
  margin: 0.25rem;
}

@media (max-width: 400px) {
  .skill {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .skill .skill-field {
    width: 100%;
  }

  .skill .rating {
    align-self: flex-end;
  }
}

/* Row 3 */
.description-field {
  flex: 1;
  resize: none;
}

/* Row 4 */

/* Shared Between Row 3 & 4 */
.job,
.school {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text {
  flex: 1;
}

.text > * {
  margin: 0.25rem;
}

.dates > input {
  margin: 0.25rem;
}

.job .trash,
.school .trash {
  text-align: center;
  width: 100%;
  background: rgba(255, 124, 124, 0.45);
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 3px;
}

.job .trash:hover,
.school .trash:hover {
  background: rgba(241, 72, 72, 0.63);
  color: white;
  font-weight: bold;
}

@media (max-width: 475px) {
  .job,
  .school {
    flex-direction: column;
  }

  .text,
  .dates {
    width: 100%;
  }
}
