@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --application-padding: 1rem;
  --pdf-width: 794px;
  --pdf-height: 1123px;
  --primary-color: #53b1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.app {
  display: flex;
}

.app > * {
  padding: var(--application-padding);
  flex: 1;
  margin: auto;
}

#cv-content {
  min-width: var(--pdf-width);
  width: var(--pdf-width);
  max-width: var(--pdf-width);
  min-height: var(--pdf-height);
  display: flex;
}

#cv-content #sidebar {
  width: calc(var(--pdf-width) / 3);
}

#cv-content #main-content {
  width: calc(2 * var(--pdf-width) / 3);
}

/* Hide page title & date when printing*/
@page {
  size: auto;
  margin: 0mm;
}
