.school-list {
  display: flex;
  flex-direction: column;
}

.school {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.row .text,
.row .dates {
  display: flex;
  flex-direction: column;
}

.row .text {
  flex: 1;
}

.school .trash {
  align-self: flex-end;
}

@media (max-width: 400px) {
  .row {
    flex-direction: column;
  }

  .row .text,
  .row .dates {
    width: 100%;
  }
}
