.container {
  display: flex;
  flex-direction: column;
}

.profile-img {
  cursor: pointer;
}

.profile-img img {
  height: 10em;
  width: 10em;
  object-fit: cover;
}

.name,
.title {
  display: flex;
  gap: 0.5rem;
}

.name label,
.title label {
  width: max-content;
}

.name input,
.title input {
  flex: 1;
}
